/* Copyright
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "../../colors2017.scss";

.poster-image {
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;
  background-size: cover;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  filter: saturate(1.25);
  color: $textOnTiles;
  color: var(--textOnTiles);
}
