/* Copyright
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "../../../colors2017.scss";

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  width: 251px;
  height: 100%;
  border-left: 1px solid rgba(170, 170, 170, 0.21);
  border-right: 1px solid rgba(170, 170, 170, 0.11);
  padding-top: 16px;
}

.menu-on-video {
  right: -268px;
  background-color: transparent;
  z-index: 1;
}

.menu-on-video-with-logs {
  right: -268px;
  background-color: rgba(0, 0, 0, 0.8);
}

.default-menu {
  right: -251px;
  background-color: $appBackground;
  background-color: var(--appBackground);
}

.menu-title {
  margin: 0 0 10px 10px;
  color: var(--text);
}
.menu-scroll-box {
  font-size: 20px;
  overflow-y: auto;
}
.support-no-float{
  background-color: rgba(0, 0, 0, 0.8);
}