# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
out
.cache
.idea
.vscode
.vscode/tasks.json
*.code-workspace
device-configuration.json
src/version.json
.loaderapp
.local
