.option-selection-panel {
  width: 313px;
}

.option-selection-panel-label-container {
  color: #fff;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
}

.option-selection-panel-picker-container {
  position: relative;
  top: 0px;
}
