/* Copyright
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.option-selection-panel {
  width: 313px;
}

.option-selection-panel-label-container {
  color: #fff;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
}

.option-selection-panel-picker-container {
  position: relative;
  top: 0px;
}
