<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/devServerAppLoader" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="pvodRefApp.bootstrapon" package="pvodRefApp" required_version="3.0"/>
    <content src="https://1.2.3.4:5"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/allow.mixedcontent" value="true"/>
    <name>PVOD Reference App bootstrap</name>
    <tizen:profile name="tv"/>
    <tizen:setting background-support="disable" context-menu="enable" encryption="disable" hwkey-event="enable" install-location="auto" screen-orientation="landscape"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/hostedapp_deviceapi_allow"/>
    <tizen:privilege name='http://developer.samsung.com/privilege/network.public' />
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
</widget>
