/*  for TV 2018 which support --var but doesn't floating video */
[data-theme="NoFloat"] {
    --appOverlay: rgba(22, 37, 61, 0.85);
    --appBackground: #16253d;
    --primaryColor: #efb509;
    --listBackground: #002c54;
    --focusBgColor: #efefef;
    --focusTextColor: #111;
    --grayedElement: #b3b3b3;
    --grayedElementFocus: #4f4f4f;
    --exitModalBtns: #272727;
    --unclickable: #272727;
    --videoBtnFill: #fff;
    --videoBtnFocusBg: #fff;
    --videoBtnFocusFill: black;
    --playingVideoBg: #cd7213;
    --playingVideoText: #fff;
    --textOnTiles: #fff;
    --textMessageBox: #fff;
    --text: #fff;
    --videoClipTitle: #fff;
    --playerOptionBtnText: #fff;
    --playerOptionBtnBgFocus: #fff;
    --playerOptionBtnTextFocus: black;
    --logText: #fff;
    --logFocusBg: #fff;
    --unclickableText: #fff;
    --versionText: #fff;
    --playerSmallText: #979797;
    --notiBg: white;
    --notiColor: black;
  }
  
  [data-theme="Dark"] {
    --appOverlay: transparent;
    --appBackground: #16253d;
    --primaryColor: #efb509;
    --listBackground: #002c54;
    --focusBgColor: #efefef;
    --focusTextColor: #111;
    --grayedElement: #b3b3b3;
    --grayedElementFocus: #4f4f4f;
    --exitModalBtns: #272727;
    --unclickable: #272727;
    --videoBtnFill: #fff;
    --videoBtnFocusBg: #fff;
    --videoBtnFocusFill: black;
    --playingVideoBg: #cd7213;
    --playingVideoText: #fff;
    --textOnTiles: #fff;
    --textMessageBox: #fff;
    --text: #fff;
    --playerOptionBtnText: #fff;
    --playerOptionBtnBgFocus: #fff;
    --playerOptionBtnTextFocus: black;
    --logText: #fff;
    --logFocusBg: #fff;
    --videoClipTitle: #fff;
    --unclickableText: #fff;
    --versionText: #fff;
    --playerSmallText: #b3b3b3;
    --notiBg: white;
    --notiColor: black;
  }
  
  [data-theme="Light"] {
    --appOverlay: transparent;
    --appBackground: #fff;
    --primaryColor: #efb509;
    --listBackground: #faf9f6;
    --focusBgColor: #bbbbbb;
    --focusTextColor: #111;
    --grayedElement: #606060;
    --grayedElementFocus: #525252;
    --exitModalBtns: #aaaaaa;
    --unclickable: #272727;
    --videoBtnFill: #fff;
    --videoBtnFocusBg: #fff;
    --videoBtnFocusFill: black;
    --playingVideoBg: #cd7213;
    --playingVideoText: #fff;
    --textOnTiles: #fff;
    --textMessageBox: #000;
    --text: #0f0f0f;
    --playerOptionBtnText: #fff;
    --playerOptionBtnBgFocus: white;
    --playerOptionBtnTextFocus: black;
    --logText: #fff;
    --logFocusBg: #fff;
    --videoClipTitle: #fff;
    --unclickableText: #fff;
    --versionText: #fff;
    --playerSmallText: #979797;
    --notiBg: #333;
    --notiColor: white;
  }
  
  [data-theme="OLED"] {
    --appOverlay: transparent;
    --appBackground: #000000;
    --primaryColor: #efb509;
    --listBackground: #111111;
    --focusBgColor: #d7d9d4;
    --focusTextColor: #111;
    --grayedElement: #a3a3a3;
    --grayedElementFocus: #525252;
    --exitModalBtns: #272727;
    --unclickable: #272727;
    --videoBtnFill: #d7d9d4;
    --videoBtnFocusBg: #d7d9d4;
    --videoBtnFocusFill: black;
    --playingVideoBg: #cd7213;
    --playingVideoText: #d7d9d4;
    --textOnTiles: #d7d9d4;
    --textMessageBox: #d7d9d4;
    --text: #d7d9d4;
    --playerOptionBtnText: #d7d9d4;
    --playerOptionBtnBgFocus: #fff;
    --playerOptionBtnTextFocus: black;
    --logText: #d7d9d4;
    --logFocusBg: #d7d9d4;
    --videoClipTitle: #d7d9d4;
    --unclickableText: #d7d9d4;
    --versionText: #d7d9d4;
    --playerSmallText: #b3b3b3;
    --notiBg: white;
    --notiColor: black;
  }
  