/*  $-var for TV 2017 */
$appOverlay: rgba(22, 37, 61, 0.85);
$appBackground: #16253d;
$primaryColor: #efb509;
$listBackground: #002c54;
$focusBgColor: #efefef;
$focusTextColor: #111;
$grayedElement: #b3b3b3;
$grayedElementFocus: #4f4f4f;
$exitModalBtns: #272727;
$unclickable: #272727;
$videoBtnFill: #fff;
$videoBtnFocusBg: #fff;
$videoBtnFocusFill: black;
$playingVideoBg: #cd7213;
$playingVideoText: #fff;
$textOnTiles: #fff;
$textMessageBox: #fff;
$text: #fff;
$videoClipTitle: #fff;
$playerOptionBtnText: #fff;
$playerOptionBtnBgFocus: #fff;
$playerOptionBtnTextFocus: black;
$logText: #fff;
$logFocusBg: #fff;
$unclickableText: #fff;
$versionText: #fff;
$playerSmallText: #979797;
$notiBg: white;
$notiColor: black;
