.swiper-container {
  height: 100%;
  transition: transform 0.3s ease;
}

.red-button {
  color: red;
}

.not-found-image {
  width: 200px;
  height: 200px;
}

.warning-info{
  margin-top: 20px;
}

.how-to-add{
  margin-top: 10px;
}
.how-to-add p{
  margin: 5px 0;
}