/* Copyright
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.swiper-container {
  height: 100%;
  transition: transform 0.3s ease;
}

.red-button {
  color: red;
}

.not-found-image {
  width: 200px;
  height: 200px;
}

.warning-info{
  margin-top: 20px;
}

.how-to-add{
  margin-top: 10px;
}
.how-to-add p{
  margin: 5px 0;
}